body{
    background-color: #eee;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

/* ! HEADER */

.header-login{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #d5d5d5;
}

.header-logo{
    margin-left: 20rem;
}

.header-logo img{
    width: 150px;
    height: 150px;
}

.header-security{
    display: flex;
    margin-right: 20rem;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: #333;
}

.header-security div img{
    border-left: 1px solid #333;
    padding: 10px;
}

.header-security img{
    width: 25px;
    height: 25px;
}

/* ! LOGIN */

.box-container{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.box-login{
    margin: 35px;
}

.box-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #175ea8;
}

.login-button{
    padding: 10px 0px 0px 0px;
}

.login-email input{
    width: 420px;
    height: 35px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.login-password a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: #175ea8;
    float: right;
    padding:0px 5px 3px 0px;
}

.login-password input{
    width: 420px;
    height: 35px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.login-button button{
    width: 425px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: #175ea8;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.acesso-rapido {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
}

.acesso-rapido .linha {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.other-access button{
    width: 425px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #333;
    background-color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}